{% extends 'base.html' %}
{% load static %}

{% block style %}
{{ block.super }}
<style>
  h2 img{
  width: 20px;
  height: 20px;
  float: left;
  }
</style>
{% endblock %}
{% block content %}
<div class="hero">
  <!-- [ Main Content ] start -->
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3" onclick="window.location='{% url 'planner:savings_and_debts' %}'"
         style="cursor:pointer;">
      <div class="card bg-c-yellow order-card">
        <div class="card-body">
          <h6 class="text-white">Savings</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/dollar.svg' %}" alt="Inmates"/>
            <span>{{ summary_savings }} zł</span>
          </h2>
          <h6 class="text-white">Debts</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/dollar.svg' %}" alt="Inmates"/>
            <span>{{ summary_debts }} zł</span></h2>
          <p class="m-b-0">Difference<span
              class="float-end {% if sum_saving_sum_debts > 0 %}positive{% elif sum_saving_sum_debts < 0 %}negative{% endif %}">{{ sum_saving_sum_debts }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3" onclick="window.location='{% url 'planner:operations' %}'" style="cursor:pointer;">
      <div class="card bg-c-green order-card">
        <div class="card-body">
          <h6 class="text-white">Income</h6>
          <h2 class="text-end text-white"><img src="{% static 'icons/dollar.svg' %}" alt="Inmates"/><span>{{ income_sum }} zł</span>
            <h6 class="text-white">Expense</h6>
            <h2 class="text-end text-white"><img src="{% static 'icons/dollar.svg' %}" alt="Inmates"/><span>-{{ expense_sum}} zł</span>
            </h2>
            <p class="m-b-0">Surplus/deficit<span
                class="float-end {% if surplus_deficit > 0 %}positive{% elif surplus_deficit < 0 %}negative{% endif %}">{{ surplus_deficit }} zł</span>
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xl-3" onclick="window.location='{% url 'planner:inmates_list' %}'" style="cursor:pointer;">
      <div class="card bg-c-blue order-card">
        <div class="card-body">
          <h6 class="text-white">Inmates</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/inmates.svg' %}" alt="Inmates"/>
            <span>{{ num_inmates }}</span>
          </h2>
          <p class="m-b-0">Family<span class="float-end"> {{ family_name }}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3" onclick="window.location='{% url 'planner:messages_list' %}'"
         style="cursor:pointer;">
      <div class="card bg-c-yellow order-card">
        <div class="card-body">
          <h6 class="text-white">Messages</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/contact.svg' %}" alt="Inmates"/>
            <span>{{ messages_num }} new messages</span>
          </h2>
          <p class="m-b-0">Data<span class="float-end"> </span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xl-3" onclick="window.location='{% url 'planner:portfolios_list' %}'"
         style="cursor:pointer;">
      <div class="card bg-c-purple order-card">
        <div class="card-body">
          <h6 class="text-white">Investments</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/inmates.svg' %}" alt="Inmates"/>
            <span>{{ num_portfolio }} portfolios</span>
          </h2>
          <p class="m-b-0">Summary shares value<span class="float-end"> {{ summary_investments }} zł</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-red order-card">
        <div class="card-body">
          <h6 class="text-white">Author</h6>
          <h2 class="text-end text-white">
            <img src="{% static 'icons/contact.svg' %}" alt="Inmates"/>
            <span>Marcin Djaczuk</span>
          </h2>
          <p class="m-b-0">E-mail<span class="float-end">marcindjaczuk@gmail.com</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- order-card end -->
  <!-- users visite start -->
  <div class="row">
    <div class="col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h1>
            Savings & Investments vs Debts
          </h1>
        </div>
        <div class="card-body ps-0 pb-0">
          {{ graph_html|safe }}
        </div>
      </div>
    </div>
  </div>

  <!-- [ Main Content ] end -->

  {% endblock content %}
</div>

{% block extrajs %}
<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>
<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
{% endblock extrajs %}