{% extends "base.html" %}

{% block content %}
  <h1>Inmates List<a class="btn btn-primary" style="float: right" href="{% url 'planner:inmate-create' %}">Add new User</a></h1></h1>

  {% if inmates %}
    <table class="table table-striped">
    <h2 style="text-align: center; color: brown">{{ inmates.1.family.name }}</h2>

      <tr>
        <th>Full name</th>
        <th>Username</th>
      </tr>
    {% for inmate in inmates %}
      <tr>
        <td><a href="{{ inmate.get_absolute_url }}">{{ inmate.get_full_name }}</a></td>
        <td>{{ inmate.username }}</td>
      </tr>
    {%  endfor %}
    </table>
  {% else %}
    <p>No inmates yet.</p>
  {% endif %}
{%  endblock %}